
		<div class="col-6 characterContainer d-flex flex-column justify-content-start px-1">
			<h2 class="characterName text-center">name jel</h2>
			<div class="characterTreesContainer d-flex flex-row justify-content-between">
				<div class="talentTree d-flex flex-column justify-content-start px-1">
					<div class="talentTreeName text-center">
						<h3>talent tree 1</h3>
					</div>
					<div class="talentRowContainer d-flex flex-row justify-content-evenly">
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
					</div>
				</div>
				<div class="talentTree d-flex flex-column justify-content-start px-1">
					<div class="talentTreeName text-center">
						<h3>talent tree 1</h3>
					</div>
					<div class="talentRowContainer d-flex flex-row justify-content-evenly">
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
					</div>
				</div>
				<div class="talentTree d-flex flex-column justify-content-start px-1">
					<div class="talentTreeName text-center">
						<h3>talent tree 1</h3>
					</div>
					<div class="talentRowContainer d-flex flex-row justify-content-evenly">
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
						<div class="talent">
							<span>test 123 jel</span>
						</div>
					</div>
				</div>
			</div>
		</div>