<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
	        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
	        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
	        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<style>
        .talent {
            border: 1px solid red;
        }

        .talentTree {
            border: 1px solid blue;
        }

        .characterTreesContainer {
            border: 1px solid green;
        }

        .characterContainer {
            border: 1px solid black;
        }

        .flex-even {
            flex: 1;
        }
	</style>
</head>
<body>
<div>
	{# <input id="fileInputTextjel" type="text" name="input" placeholder="Deder path"> #}
	<div class="row m-0" id="content">
	</div>
</div>
<script>
    $(document).ready(function () {
        let iconSize = 64;
        let inputField = $("#fileInputTextjel");

        inputField.keypress(function (key) {
            if (key.which === 13) {
                submitPath(inputField.val());
            }
        })

        submitPath("D:\\Steam\\steamapps\\common\\Barotrauma");

        {# D:\Steam\steamapps\common\Barotrauma #}

        function submitPath(path) {
            $.ajax({
                url: "{% url 'talenter:getTalents' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    "path": path
                },
                success: function (data) {
                    let content = $("#content")
                    inputField.remove();
                    let uiManager = new UIManager(data);
                    uiManager.build(content);
                }
            });
        }

        class UIManager {
            constructor(data) {
                this.data = JSON.parse(data);
            }

            build(container) {
                $.each(this.data, (key) => {
                    let character = this.data[key];

                    const characterContainer = this.createCharacterContainer(character);
                    const talentTreeContainer = this.createTalentTreeContainer();
                    characterContainer.append(talentTreeContainer);
                    let characterString = character.name + ":";

                    $.each(character.trees, (treeKey) => {
                        let tree = character.trees[treeKey];
                        let treeString = characterString + tree.name + ":";
                        const talentTree = this.createTalentTree(tree);
                        let talentRowContainer;

                        let level = 0;
                        $.each(tree.talents, (i) => {
                            let talent = tree.talents[i];
                            if (talent.level !== level) {
                                if (level > 0) {
                                    talentTree.append(talentRowContainer);
                                }
                                let talentString = treeString + ":" + talent.level + ":" + talent.name;
                                console.log(talentString);
                                level = talent.level;
                                talentRowContainer = this.createTalentTreeRowContainer();
                            }
                            let talentElement = this.createTalent(talent);
                            talentRowContainer.append(talentElement);
                        })
                        talentTree.append(talentRowContainer);

                        talentTreeContainer.append(talentTree);
                    });
                    container.append(characterContainer);
                });
                $(".talent").tooltip();
                $(".talent").draggable();
				$('.talentRowContainer').droppable({
					drop: function(ev, ui) {
						$(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);

                        let movedElement = ui.draggable;
				        let dropzone = $(this);

				        console.log(dropzone);
				        console.log(movedElement);
					}
				});
            }

            createCharacterContainer(character) {
                let element = `<div class="col-6 characterContainer d-flex flex-column justify-content-start px-1 py-3">
					<h2 class="characterName text-center">${character.name}</h2>
				</div>`;

                return $(element);
            }

            createTalentTreeContainer() {
                let element = `<div class="characterTreesContainer d-flex flex-row justify-content-between">
					</div>`;
                return $(element);
            }

            createTalentTree(ttree) {
                let element = `<div class="talentTree d-flex flex-column justify-content-start px-1 flex-even">
						<div class="talentTreeName text-center">
							<h3>${ttree.name}</h3>
						</div>
					</div>`;
                return $(element);
            }

            createTalentTreeRowContainer() {
                let element = `<div class="talentRowContainer d-flex flex-row justify-content-evenly">
					</div>`;
                return $(element);
            }

            createTalent(talent) {
                let element = `<div class="talent py-3 flex-even text-center">
							<img src="static/images/${talent.name}.png" width="${iconSize}" height="${iconSize}" title="${talent.localizedName}\n\n${talent.description}">
						</div>`
                return $(element);
            }

            addTooltipsToAllTalents() {
                {# This trash doesn't really work at all #}
                const talents = this.getAllTalents();
                $.each(talents, (key) => {
                    const talent = talents[key];
                    const talentElement = $(`#${talent.name}`)[0];

                    tippy(talentElement, {
                        content: `<h4><b>${talent.localizedName}</b></h4><p>${talent.description}</p>`,
                        allowHTML: true,
                        followCursor: true,
                    });
                })
            }

            getAllTalents() {
                let talents = [];
                $.each(this.data, (key) => {
                    const character = this.data[key];
                    $.each(character.trees, (key2) => {
                        const tree = character.trees[key2];
                        $.each(tree.talents, (key3) => {
                            const talent = tree.talents[key3];
                            talents.push(talent);
                        })
                    })
                })
                return talents;
            }
        }
    })
</script>
</body>
